// Special price section//
#special-price{
    .grid .grid-item{
        margin-right: 1.2rem;
        margin-left: 1rem;
    };
    .grid .grid-item .item .product .text-center{
        white-space: nowrap; 
        width: 200px; 
        overflow: hidden;
        text-overflow: clip; 
    };
}